<!DOCTYPE html>
<html lang="en">
<head>
    <title>Canvas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    
</head>
<body>
    <div class="nav-wrapper">
    <div class="grad-bar"></div>
    <nav class="navbar">
        <span> MNIST Classifier </span>
        <ul class="nav no-search">
        <a href="https://github.com/marvY-O" target="_blank" rel="noopener noreferrer"><li class="nav-item bi bi-github"></li></a>
        <a href="https://www.linkedin.com/in/vyom-verma-913039124/" target="_blank" rel="noopener noreferrer"><li class="nav-item bi bi-linkedin"></li></a>
        <a href="mailto: vyomverma998@gmail.com" target="_blank" rel="noopener noreferrer"><li class="nav-item bi bi-envelope"></li></a>
        <a href="https://leetcode.com/marv98/" target="_blank" rel="noopener noreferrer"><li class="nav-item bi-code-slash"></li></a>
        </ul>
    </nav>
    </div>
        
    
    <h1 class="main-heading">Start Drawing!</h1>
    <div class="main-box">
        <div class="canvas-paint">
            <canvas class="js-paint  paint-canvas" width="150" height="150"></canvas>
            <button class="btn btn-reverse btn-border btn-small clear-btn"><span>Clear</span></button>
        </div>
        <div class="prediction">
            <h1 class="prediction-value"></h1>
        </div>
        <div class="container-chart">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <div class="buttons-contain">
        <a href="github.com" class="btn btn-reverse btn-border btn-pill" target="_blank" rel="noopener noreferrer"><span>Source Code</span></a>
        <a href="https://www.tensorflow.org/datasets/catalog/mnist" class="btn btn-reverse btn-pill" target="_blank" rel="noopener noreferrer">Dataset</a>
    </div>

</body>
<script type="text/javascript" src="{% static 'index.js' %}"></script>
</html>

