@import "https://fonts.googleapis.com/css?family=Lato:300";

body {
    background: linear-gradient(-45deg, #2541B2, #1768AC, #131112);
    background-size: 400% 400%;
    /*animation: gradient 15s ease 1;*/
    height: 100%;
}
.buttons-contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    padding: 5px;
    animation: fadein-bottom 1s ease 1;
}

.paint-canvas {
    display: block;
    margin: 1rem;
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.prediction{
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}
.main-box{
    margin-top: 60px;
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    animation: fadein-bottom 1s ease 1;
}
.container-chart{
    width: 500px;
    height: 250px;
}
.prediction-value{
    display: block;
    color: #9DFFF9;
    font-size: 150px;
}


@keyframes pred-value-appear{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes pred-value-dissappear{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.prediction{
    display: flex;
    width: 20%;
    height: 40%;
    justify-content: center; 
    align-items: center;
}
.canvas-paint{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-box > div{
    height: 250px;

}
.buttons-contain > .btn{
    margin: 10px;
}

.main-heading{
    margin-top: 60px;
    color: rgb(195, 195, 195);
    text-align: center;
    font-weight: bold;
    font-size: 55px;
    animation: fadein-bottom 1s ease 1;
}

@keyframes fadein-bottom{
    0%{
        opacity: 0;
        transform: translateY(25%);
    }
    100%{
        opacity: 1;
    }
}

.btn {
    margin: 3px 0;
}

.btn {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: #3498db;
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}
.btn:visited {
    color: #fff;
}
.btn:hover, .btn:focus, .btn.btn-hover {
    color: #fff;
    background-color: #52a7e0;
    text-decoration: none;
    outline: none;
}
.btn:active, .btn.btn-pressed {
    color: #124364;
    background-color: #217dbb;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
.btn.btn-small {
    font-size: 12px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
}
.btn.btn-border {
    color: #3498db;
    background: none;
    border-width: 2px;
    border-style: solid;
    border-color: #3498db;
    line-height: 36px;
}
.btn.btn-border:hover, .btn.btn-border.btn-hover {
    color: #fff;
    background-color: #3498db;
}
.btn.btn-border:active, .btn.btn-border.btn-pressed {
    color: gray;
    background-color: #52a7e0;
}
.btn.btn-border.btn-small {
    line-height: 26px;
}
.btn.btn-pill {
    border-radius: 100px;
}
.btn.btn-reverse {
    color: #3498db;
    background-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    line-height: 36px;
}
.btn.btn-reverse:hover, .btn.btn-reverse.btn-hover {
    color: #fff;
    background: transparent;
    border-color: #fff;
}
.btn.btn-reverse:active, .btn.btn-reverse.btn-pressed {
    color: white;
    background: transparent;
    border-color: #217dbb;
}
.btn.btn-reverse.btn-large {
    line-height: 46px;
}
.btn.btn-reverse.btn-small {
    line-height: 26px;
}
.btn.btn-reverse.btn-border {
    color: #fff;
    border-color: #fff;
    background: none;
}
.btn.btn-reverse.btn-border:hover, .btn.btn-reverse.btn-border.btn-hover {
    color: #3498db;
    background-color: #fff;
    border-color: #fff;
}
.btn.btn-reverse.btn-border:active, .btn.btn-reverse.btn-border.btn-pressed {
    color: #3498db;
    background-color: #e6e6e6;
    border-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.page-wrapper {
    width: 100%;
    height: auto;
}

.nav-wrapper {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #020202;
    color: white;
}

.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #9DFFF9, #020202, #1B5299, #35A7FF);
    background-size: 400% 400%;
    -webkit-animation: gradbar 15s ease infinite;
    -moz-animation: gradbar 15s ease infinite;
    animation: gradbar 15s ease infinite;
}

/* NAVIGATION */

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
    color: white;
}

.navbar img {
    height: 16px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
}

.navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-self: end;

}

.navbar a{
    margin-left: 40px;
    color: white;
}

.navbar a:hover{
    color: #3498db;
}

.nav-item a {
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    margin: 15px;
}

.nav-item a:hover {
    color: #3498db;
}


/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.navbar > span{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
}

.menu-toggle:hover{
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.loader {
    display: none;
    margin: 0 0 2em;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
  }
  svg path,
  svg rect {
    fill: #77d9ff;
  }

  .server-error{
    display: none;
    text-align: center;
    flex-direction: column;
    color: white;
  }

.small-canvas{
    width: 28px;
    height: 28px;
}